In [9]:
#@title Default title text
import pandas as pd
pd.set_option("display.max_columns",None)
df=pd.read_csv("SampleRushing.csv")
df.drop(["Rk"], axis=1, inplace=True)

df.head()#I have no clue what this does to data but Im keeping just for caution
          #Edit: Now I know what it does, it displays visual

df["ppr"]=df["TotalYDs"]/10 +df["RushTDs"]*6+df["Rec"]/1+df["RecTDs"]*6 +df["RecYDs"]/10
df["ppr_rank"]=df["ppr"].rank(ascending=False)#True ranks 1st as last example being that Zach Smtih is ranked first instead of last
df["points per att"]=df["ppr"]/df["Att"].rank(ascending=True)#False gave me wrong numbers, don't know what they were calculating



new_df=pd.DataFrame({}, columns=["ppr","ppr_rank"])
df.sort_values(by="ppr_rank",ascending=True)
df.head(282)
#It took me 2 hours to figure this out but I believe the last df that you code is going to be the final output
#For example, I couldn't get the ppr ranking to sort in ascending order because it was before the df.sort_values code.

,Player,School,Conf,G,Att,TotalYDs,Avg,RushTDs,Rec,Yds,Avg.1,RecTDs,Plays,RecYDs,Avg.2,Total,ppr,ppr_rank,points per att
0,Lynn Bowden Jr.*,Kentucky,SEC,13,185,1468,7.9,13,30,348,11.6,1,215,1816,8.4,14,442.4,13.0,1.966222
1,Travis Etienne*,Clemson,ACC,15,207,1614,7.8,19,37,432,11.7,4,244,2046,8.4,23,541.0,4.0,2.181452
2,Raymond Calais*,Louisiana,Sun Belt,14,117,886,7.6,6,10,67,6.7,1,127,953,7.5,7,235.9,91.0,2.096889
3,Javon Leake,Maryland,Big Ten,12,102,736,7.2,8,9,55,6.1,0,111,791,7.1,8,209.7,124.0,3.524370
4,Adrian Killins*,UCF,American,12,87,629,7.2,7,8,120,15.0,1,95,749,7.9,8,193.8,136.0,8.246809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,Brett Gabbert*,Miami (OH),MAC,14,88,72,0.8,3,0,0,NaN,0,88,72,0.8,3,32.4,279.0,1.200000
278,Shea Patterson*,Michigan,Big Ten,13,87,50,0.6,5,0,0,NaN,0,87,50,0.6,5,40.0,276.0,1.702128
279,Josh Adkins,New Mexico State,Ind,12,106,41,0.4,4,2,6,3.0,1,108,47,0.4,5,40.8,275.0,0.540397
280,Sam Howell*,North Carolina,ACC,13,94,35,0.4,1,3,23,7.7,1,97,58,0.6,2,24.3,280.0,0.639474
281,Zach Smith,Tulsa,American,12,75,-96,-1.3,0,0,0,NaN,0,75,-96,-1.3,0,-19.2,282.0,-7.680000